<!doctype html>
<html lang="en" class="no-focus">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">

    <title>@ViewBag.Title</title>

    <!-- Icons -->
    <link rel="shortcut icon" href="assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/media/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <link href="~/Template/assets/css/codebase.min.css" rel="stylesheet" />
    <link href="~/Template/assets/css/pulse.min.css" rel="stylesheet" />
    <link href="~/Template/assets/css/fontawesome 5.3/css/fontawesome-all.min.css" rel="stylesheet" />
    <!-- END Stylesheets -->
    @RenderSection("StylePage", false)
</head>
<body>
    <div id="page-container" class="sidebar-mini sidebar-o sidebar-inverse enable-page-overlay side-scroll page-header-fixed main-content-boxed">


        <!-- Sidebar -->
        <nav id="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-content">
                <!-- Side Header -->
                <div class="content-header content-header-fullrow px-15">
                    <!-- Mini Mode -->
                    <div class="content-header-section sidebar-mini-visible-b">
                        <!-- Logo -->
                        <span class="content-header-item font-w700 font-size-xl float-left animated fadeIn">
                            <span class="text-dual-primary-dark">K</span><span class="text-primary">F</span>
                        </span>
                        <!-- END Logo -->
                    </div>
                    <!-- END Mini Mode -->
                    <!-- Normal Mode -->
                    <div class="content-header-section text-center align-parent sidebar-mini-hidden">
                        <!-- Close Sidebar, Visible only on mobile screens -->
                        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                        <button type="button" class="btn btn-dual-secondary d-lg-none align-v-r" data-toggle="layout" data-action="sidebar_close">
                            <i class="fa fa-times text-danger"></i>
                        </button>
                        <!-- END Close Sidebar -->
                        <!-- Logo -->
                        <div class="content-header-item">
                            <a class="link-effect font-w700" href="#">
                                <i class="si si-fire text-primary"></i>
                                <span class="font-size-xl text-dual-primary-dark">Kel</span><span class="font-size-xl text-primary">Financ</span>
                            </a>
                        </div>
                        <!-- END Logo -->
                    </div>
                    <!-- END Normal Mode -->
                </div>
                <!-- END Side Header -->
                <!-- Side Navigation -->
                <div class="content-side content-side-full">
                    <ul class="nav-main">
                        <li>
                            <a class="active" href="@Url.Action("Dashboard","Home")"><i class="si si-cup"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                        </li>
                        <li class="nav-main-heading"><span class="sidebar-mini-visible">DE</span><span class="sidebar-mini-hidden">Despesas</span></li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu"><i class="si si-briefcase"></i><span class="sidebar-mini-hide">Dia Dia</span></a>
                            <ul>
                                <li>
                                    @Html.ActionLink("Adicionar Despesa", "AdicionarDespesasDia", "DespesaDia")
                                </li>
                                <li>
                                    @Html.ActionLink("Consultar Despesa", "TabelaDespesasDia", "DespesaDia")
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu"><i class="si si-users"></i><span class="sidebar-mini-hide">Mensais</span></a>
                            <ul>
                                <li>
                                    @Html.ActionLink("Adicionar Despesa", "AdicionarDespesaMensal", "DespesaMensal")
                                </li>
                                <li>
                                    @Html.ActionLink("Consultar Despesa", "TabelaDespesasMensais", "DespesaMensal")
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-docs"></i><span class="sidebar-mini-hide">Parceladas</span></a>
                            <ul>
                                <li>
                                    @Html.ActionLink("Adicionar Despesa", "AdicionarDespesaParcelada", "DespesaParcelada")
                                </li>
                                <li>
                                    @Html.ActionLink("Consultar Despesa", "TabelaDespesaParcelada", "DespesaParcelada")
                                </li>
                            </ul>
                        </li>
                        <li class="nav-main-heading"><span class="sidebar-mini-visible">RE</span><span class="sidebar-mini-hidden">Receitas</span></li>
                        <li>
                            <a href=""><i class="si si-user"></i><span class="sidebar-mini-hide">Fixas</span></a>
                        </li>
                        <li>
                            <a href=""><i class="si si-lock"></i><span class="sidebar-mini-hide">Extras</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Side Navigation -->
            </div>
            <!-- Sidebar Content -->
        </nav>
        <!-- END Sidebar -->
        <!-- Header -->
        <header id="page-header">
            <!-- Header Content -->
            <div class="content-header">
                <!-- Left Section -->
                <div class="content-header-section">
                    <!-- Toggle Sidebar -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn btn-dual-secondary" data-toggle="layout" data-action="sidebar_toggle">
                        <i class="fa fa-navicon"></i>
                    </button>
                    <!-- END Toggle Sidebar -->
                    <!-- User Dropdown -->
                    <div class="dropdown d-inline-block" role="group">
                        <button type="button" class="btn btn-dual-secondary dropdown-toggle" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </button>
                        <div class="dropdown-menu min-width-200" aria-labelledby="page-header-user-dropdown">
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="si si-user mr-5"></i> Profile
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                                <span><i class="si si-envelope-open mr-5"></i> Inbox</span>
                                <span class="badge badge-primary">3</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="si si-note mr-5"></i> Invoices
                            </a>
                            <div class="dropdown-divider"></div>

                            <!-- Toggle Side Overlay -->
                            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="layout" data-action="side_overlay_toggle">
                                <i class="si si-wrench mr-5"></i> Settings
                            </a>
                            <!-- END Side Overlay -->

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="si si-logout mr-5"></i> Sign Out
                            </a>
                        </div>
                    </div>
                    <!-- END User Dropdown -->
                </div>
                <!-- END Left Section -->
                <!-- Right Section -->
                <div class="content-header-section">
                    <!-- Open Search Section -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn btn-dual-secondary d-sm-none" data-toggle="layout" data-action="header_search_on">
                        <i class="fa fa-search"></i>
                    </button>
                    <!-- END Open Search Section -->
                    <!-- Full Search -->
                    <div class="content-header-item d-none d-sm-inline-block ml-5">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Full Search -->
                </div>
                <!-- END Right Section -->
            </div>
            <!-- END Header Content -->
            <!-- Header Search -->
            <div id="page-header-search" class="overlay-header">
                <div class="content-header content-header-fullrow">
                    <form>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <!-- Close Search Section -->
                                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                <button type="button" class="btn btn-secondary px-15" data-toggle="layout" data-action="header_search_off">
                                    <i class="fa fa-times"></i>
                                </button>
                                <!-- END Close Search Section -->
                            </div>
                            <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary px-15">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Header Search -->
            <!-- Header Loader -->
            <div id="page-header-loader" class="overlay-header bg-primary">
                <div class="content-header content-header-fullrow text-center">
                    <div class="content-header-item">
                        <i class="fa fa-sun-o fa-spin text-white"></i>
                    </div>
                </div>
            </div>
            <!-- END Header Loader -->
        </header>
        <!-- END Header -->
        <!-- Main Container -->
        <main id="main-container">
            <div>
                @RenderBody()
            </div>
        </main>
        <!-- END Main Container -->
        <!-- Footer -->
        <footer id="page-footer" class="opacity-0">
            <div class="content py-20 font-size-xs clearfix">

                <div class="float-left">
                    <span>Desenvolvido por </span><a class="font-w600" href="https://github.com/kelvin-dias" target="_blank">Kelvin Oliveira</a> &copy; <span class="js-year-copy">1993</span>
                </div>
            </div>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Page Container -->
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Template/assets/js/codebase.app.min.js")"></script>
    <script src="@Url.Content("~/Template/assets/js/codebase.core.min.js")"></script>

    @RenderSection("ScriptPage", false);
</body>
</html>